<form [formGroup]="form" (submit)="submitHandler()">
    <div class="form-group">
        <label for="destination">Destination</label>
        <input  [ngClass]="{'is-invalid': f.destination.touched && f.destination.errors?.required}" type="text" class="form-control" id="destination" formControlName="destination" required>
        <div class="invalid-feedback">
          This field is required!
        </div>
    </div>
    <div class="form-group">
        <label for="story">Short story</label>
        <textarea class="form-control" id="story" rows="3" formControlName="story"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        <input [ngClass]="{'is-invalid': f.image.dirty && f.image.errors?.pattern}" type="text" class="form-control" id="image" formControlName="image" pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)">
        <div class="invalid-feedback">
          Please provide a valid URL starting with http and ending with jpg, gif or png.
        </div>
    </div>
    <div class="form-group">
        <label for="places">Places to visit <span class="font-italic text-secondary">( example: First Place, Second Place, Third Place )</span></label>
        <textarea class="form-control" id="places" rows="3" formControlName="places"></textarea>
    </div>
    
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary ml-auto mr-auto" [disabled]="form.invalid">Preview</button>
    </div>
</form>
