
  <app-navigation></app-navigation>
  <div calss="container">
        <div class="wrapper translateY-15vh w-100">
            <h1 class="text-center mb-5 font-weight-bold">My Trips</h1>
            <div class="list-item bg-light custom-box">
                <app-card [fromList]="true"></app-card>
            </div>
            <div class="list-item bg-light custom-box">
                <app-card [fromList]="true"></app-card>
            </div>
            <div class="list-item bg-light custom-box">
                <app-card [fromList]="true"></app-card>
            </div>
            <div class="list-item bg-light custom-box">
                <app-card [fromList]="true"></app-card>
            </div>
            <div class="list-item bg-light custom-box">
                <app-card [fromList]="true"></app-card>
            </div>
            <div class="list-item bg-light custom-box">
                <app-card [fromList]="true"></app-card>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
