<div class="card" [ngClass]="{'flex-row':fromDetails}">
    <div class="card-header">
    <img src="https://theworldtravelingguide.files.wordpress.com/2014/03/malta1.jpg" alt="Card image cap">
    </div>
    <div class="wrapper">
        <div class="card-body">
            <h5 class="card-title">Malta - Valeta</h5>
            <p class="card-text"><span class="font-italic">Start date:</span> 24.05.2019</p>
            <p class="card-text"><span class="font-italic">End date:</span> 30.05.2019</p>
          </div>
          <ul  *ngIf="!fromList" class="list-group list-group-flush w-100">
            <li class="list-group-item">First palce</li>
            <li class="list-group-item">Second Palce</li>
            <li class="list-group-item">Last Place</li>
          </ul>
          <div *ngIf="!fromCreate" class="card-body text-center">
            <button *ngIf="fromList" class="btn btn-primary card-link">Details</button>
            <button *ngIf="!fromList" class="btn btn-primary card-link">Edit</button>
            <button *ngIf="!fromList" class="btn btn-danger card-link">Delete</button>
          </div>
    </div>
  </div>