<ng-container *ngIf="fromCreate; then previewCrad else mainCard">

</ng-container>

<ng-template #previewCrad>
    <div class="card" [ngClass]="{'flex-row':fromDetails}">
        <div class="card-header">
        <img *ngIf="!formData || !formData.image" src="../../../../assets/images/card-landscape.jpg" alt="Card image cap">
        <img *ngIf="formData && formData.image" src="{{formData.image}}" alt="Card image cap">
        </div>
        <div class="wrapper">
            <div class="card-body">
                <h5 *ngIf="formData" class="card-title">{{formData.destination}}</h5>
                <p *ngIf="formData" class="card-text"><span class="font-italic">Start date:</span> {{formData.startDate | date: 'MM/dd/yyyy'}}</p>
                <p *ngIf="formData" class="card-text"><span class="font-italic">End date:</span> {{formData.endDate | date: 'MM/dd/yyyy'}}</p>
                <p *ngIf="formData && !formData.private" class="card-text"><span class="font-weight-bold">Status:</span> Public</p>
                <p *ngIf="formData && formData.private" class="card-text"><span class="font-weight-bold">Status:</span> Private</p>
              </div>
              <ul *ngIf="formData" class="list-group list-group-flush w-100">
                <li *ngFor="let place of formData.places" class="list-group-item">{{place}}</li>
              </ul>
              <div  class="card-body text-center">
                <button class="btn btn-success card-link" [disabled]="!formData" (click)="clickHandler($event)">Looks Good!</button>
              </div>
        </div>
      </div>
</ng-template>

<ng-template #mainCard>
    <div class="card" [ngClass]="{'flex-row':fromDetails}">
        <div class="card-header">
        <img src="../../../../assets/images/card-landscape.jpg" alt="Card image cap">
        </div>
        <div class="wrapper">
            <div class="card-body">

                <h5 class="card-title">Malta -Valeta</h5>
                <p class="card-text"><span class="font-italic">Start date:</span> 24.05.2019</p>
                <p class="card-text"><span class="font-italic">End date:</span> 30.05.2019</p>
                <p class="card-text"><span class="font-weight-bold">Status:</span> Public</p>
              </div>
              <ul  *ngIf="!fromList" class="list-group list-group-flush w-100">
                <li class="list-group-item">First palce</li>
                <li class="list-group-item">Second Palce</li>
                <li class="list-group-item">Last Place</li>
              </ul>
              <div  class="card-body text-center">
                <button *ngIf="fromList" class="btn btn-primary card-link">Details</button>
                <button *ngIf="!fromList" class="btn btn-primary card-link">Edit</button>
                <button *ngIf="!fromList" class="btn btn-danger card-link">Delete</button>
              </div>
        </div>
      </div>
</ng-template>