.card {
  transform: translateY(15vh);
  min-width: 25rem;
  box-shadow: 0.1rem 0.1rem 0.5em 0 rgba(150, 150, 150, 1);

  .card-header {
    padding: 0;
    border: none;
  }

  .nav,
  .nav-tabs,
  .nav-link,
  .nav-link.active {
    border: none;
  }

  .nav-link:not(.active) {
    color: white;
    background: #555;
  }

  li {
    width: 50%;
  }
  
  .card-body {
    width: 25rem;
    text-align:left;
  }
}
